<!DOCTYPE html>
<html>
    <head>
        <title>Express JS</title>
        <link rel="stylesheet" href="./styles.css">
    </head>
    <body>
        <h2>An Express Project</h2>
        <figure>
            <img src="./Express.png" alt="Express">
            <figcaption>Learning Node Js</figcaption>
        </figure>
    </body>
</html>